html {
    min-height: 100%;
    background-image: linear-gradient(to bottom, #da9362, #c65a31);
}

h1 {
    padding-top: 20px;
    text-align: center;
}

#map {
    height: 512px;
    width: 512px;
    margin: 0 auto;
    display: block;

}

/*Button styling*/
.button-container {
    position: relative;
    width: 200px;
    height: 80px;
    margin: 20px auto 0;
}
.button-text{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    pointer-events: none;
    -webkit-text-stroke: 1px black;
    color: white;
    overflow: visible;
    text-align: center;
    width: 100%;
    font-family: "Comic Sans MS";
}
#sosigButton {
    display: block;
    margin: 20px auto 0;
    width: 200px;
    height: 80px;
    transform: rotate(3deg);
    transition: transform 0.2s;
    z-index: 1;
}
#sosigButton:hover {
    transform: rotate(0deg) scale(1.05);
}
#sosigButton:active {
    transform: rotate(720deg) scale(0.98);
}