.MapAd-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    margin: 0 auto;
    position: relative;
    width: fit-content;
}
#map {
    height: 512px;
    width: 512px;
    display: block;

}
.advert {
    width: 250px;
    height: 520px;
    background-color: #bea8a8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.advert:hover {
    opacity: 0.9;
}
.Left {
    background-image: url("https://media02.stockfood.com/largepreviews/MzQ5OTI3Mjg3/11287977-A-stereotypical-German-man-wearing-lederhosen-and-eating-white-sausage-with-a-beer.jpg");
}
.Right {
    background-image: url("../images/rightad.png");
    background-size: cover;
    background-position: 25% center;
    background-repeat: no-repeat;
}

/*Nappi styling*/
.button-container {
    position: absolute;
    left: 50%;
    bottom: -80px;
    width: 200px;
    height: 80px;
    margin: 0;
    clear: both;
    transform: translateX(-50%);
}
.button-text{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    pointer-events: none;
    -webkit-text-stroke: 1px black;
    color: white;
    overflow: visible;
    text-align: center;
    width: 100%;
    font-family: "Comic Sans MS";
}
#sosigButton {
    display: block;
    margin: 20px auto 0;
    width: 200px;
    height: 80px;
    transform: rotate(3deg);
    transition: transform 0.2s;
    z-index: 1;
}
#sosigButton:hover {
    transform: rotate(0deg) scale(1.05);
}

#sosigButton:active {
    transform: rotate(720deg) scale(0.98);
}
