html {
    min-height: 100%;
    background-image: linear-gradient(to bottom, #da9362, #c65a31);
}

h1 {
    padding-top: 20px;
    text-align: center;
}

#map {
    height: 512px;
    width: 512px;
    margin: 0 auto;
    display: block;

}

/*Button styling*/
#sosigButton {
    text-align: center;
    padding: 15px;
}
#sosigButton {
    color: black;
    font-size: x-large;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: rotate(-4deg);
    transition: transform 0.2s, box-shado 0.2s;
    font-style: italic;
    background-image: linear-gradient(to bottom, #be1001,#860a01);
    height: 60px;
    display: block;
    margin: 20px auto 0;
    width: fit-content;

}
#sosigButton:hover {
    transform: rotate(0deg) scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
#sosigButton:active {
    transform: rotate(360deg) scale(0.98);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#sosigButton::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #860a01;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}